/*for navigation bar*/
body {
    
}

.topnav {
    
}

.topnav a {
    float: left;
    color: #1affa3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    
}

.topnav a.active {
    
}

/*for main content*/
.pimg3 {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('food-bg.jpg');
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #e0535a;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

@media(max-width:569px) {
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }
}