* {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: bisque;
    position: sticky;
    z-index: 2;
}

h1 {
    color: red;
    text-align: center;
    font-style: italic;
}

header div{
    position: relative;
    background-image: url("images/cover.jpg");
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    min-height: 300px;
}


#description {
    background-color: aqua;
    width: 50%;
    margin: auto;
    padding: 20px;
    opacity: 1;
}

h2 {
    background-color: cornsilk;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 10px;
}

section div {
    background-color: rgb(249, 211, 217);
    width: 70%;
    margin: auto;
}

footer {
    background-color: black;
}
.footer {
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: brown;
    font-size: 25px;
}